.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }
  
  .centered-div {
    background-color: lightblue; /* Solo para que sea más visible */
    padding: 2%;
    border-radius: 10px;
    margin: 10%;
  }
  